name: Generate Metrics

on:
  schedule: [{cron: "0 0 * * *"}]  # Daily
  workflow_dispatch:              # Manual trigger
  push: {branches: ["master", "main"]}

jobs:
  generate-metrics:
    runs-on: ubuntu-latest
    if: github.event_name != 'push' || !startsWith(github.event.head_commit.message, 'Update metrics')
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Aicirou
          template: classic
          base: header, activity, community, repositories, metadata
          base_hireable: yes
          config_octicon: yes
          config_timezone: Asia/Calcutta
          config_padding: 0, 19%
          plugin_gists: yes
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_ignored: html,css
          plugin_languages_indepth: yes
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%

      - name: Commit and push changes
        run: |
          git config user.name "${{ secrets.GIT_USERNAME }}"
          git config user.email "${{ secrets.GIT_EMAIL }}"
          git pull --rebase origin "${{ github.ref_name }}"
          git add github-metrics.svg
          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Update metrics"
            git push
          fi
